{{ define "main" }}
<div class="content-areapix" id="primarypix">
    <div class="site-mainpix" id="mainpix">
        <div class="mainblogsec section" id="mainblogsec">
            <div class="widget Blog" id="Blog1">
                {{- partial "breadcrumb.html" . -}}
                <article class="post">
                    <h1 class="post-title entry-title">{{ .Title }}</h1>
                    <div class="post-body entry-content" id="animated-thumbnail">
                    {{- partial "postheader.html" . -}}
                    {{ .Content }}
                    </div>
                    <div class="entry-content-botpix">
                        {{- partial "share.html" . -}}
                        {{- partial "related.html" . -}}
                    </div>
                </article>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
{{ end }}