<footer class="site-footerpix" id="downpix">
  <div class="footer-menu">
    <div class="maxwrap bawahcr">
      <ul class="menufoot mobile-hide">
        <li>
          <a href="/about/" title="About">About</a>
        </li>
        
        <li>
          <a href="/sitemap.xml" title="Sitemap">Sitemap</a>
        </li>

        <li>
          <a href="/rss.xml" title="RSS">RSS</a>
        </li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
  <div class="site-infopix">Copyright © 2023 <a href="{{ .Site.BaseURL }}">{{ .Site.Params.Title }}</a>All Right Reserved </div>
</footer>
<div class="pixtotop hider arlniainf">
  <i class="fa fa-angle-up"></i>
</div>

<script src="/js/include.js"></script>
{{ if eq .Type "posts" }}
<script src="/ads/ads.js"></script>
{{ end }}

<script>
const observer = lozad();
observer.observe();
</script>