<aside class="widget-areapix sidebar-widget-areapix" id="secondarypix" style="position:relative;overflow:visible;box-sizing:border-box;min-height:1px">
    <div class="theiaStickySidebar" style="padding-top:0;padding-bottom:1px;position:static;top:20px;left:1020.38px">
      <div class="sidebar section" id="sidebar_top">
        {{- partial "social.html" . -}}
      </div>
      <div id="sidebarbottom">
        <div class="sidebar section" id="sidebarbottomup">
            {{- partial "recent.html" . -}}
            {{- partial "categorylist.html" . -}}
            {{- partial "taglist.html" . -}}
        </div>
      </div>
    </div>
  </aside>