{{ define "main" }}
<div class="ct-wrapper" id="featured-posx-section">
  <div class="featured-posx padding clearfix">
    {{ range first 1 (shuffle (where (where .Site.RegularPages "Type" "!=" "pages" ) "Title" "!=" .Title )) }}
    <div class="main-post col-post">
      {{ with .Params.categories }}
        {{ range . }}
            <a href="{{ . | printf "%s%s" "/categories/" | urlize | lower | relLangURL }}" title="{{ . }}"  rel="categories">
              <span class="blue">{{ . }}</span>
            </a>
        {{ end }}
      {{ end }}
      <img class="ls-is-cached lozad" height="345" width="640" data-src="{{ .Params.thumbnail | default .Params.image }}" alt="{{ .Title }}" alt="{{ .Title }}">
      <header>
        <h1 class="entry-title">
          <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
        </h1>
      </header>
    </div>
    {{ end }}

    {{ range first 4 (shuffle (where (where .Site.RegularPages "Type" "!=" "pages" ) "Title" "!=" .Title )) }}
    <div class="secondary-post col-post">

      {{ with .Params.categories }}
        {{ range . }}
            <a href="{{ . | printf "%s%s" "/categories/" | urlize | lower | relLangURL }}" title="{{ . }}"  rel="categories">
              <span class="blue">{{ . }}</span>
            </a>
        {{ end }}
      {{ end }}

      <a class="hover_play_small" href="{{ .RelPermalink }}">
        <img class="lozad" data-src="{{ .Params.thumbnail | default .Params.image }}"
        title="{{ .Title }}">
      </a>
      <header>
        <h2>
          <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
        </h2>
      </header>
    </div>
    {{- end }}
  </div>
</div>
<div class="content-areapix" id="primarypix">
    <div class="site-mainpix" id="mainpix">
      <div class="mainblogsec section" id="mainblogsec">
        <div class="widget Blog" id="Blog1">
        {{ $paginator := .Paginate (where .Site.RegularPages "Type" "!=" "pages") }}
        {{ range $index, $page := $paginator.Pages }}
        <article class="post hentry">

            <div class="post-body entry-content" id="animated-thumbnail">
              <div class="thumb-wrapper">
                <a class="thumb" href="{{ .Permalink }}">
                  <img data-src="{{ .Params.thumbnail | default .Params.image }}" alt="{{ .Title }}" alt="{{ .Title }}" class="lozad">
                </a>
              </div>
              <h2 class="post-title entry-title" title="{{ .Title }}">
                <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
              </h2>

               {{- partial "postheader.html" . -}}
                <div class="snippets">
                {{ if gt (len .Summary) 160	}}
                    {{slicestr .Summary 0 160}}
                {{ end }}
                </div>
              <div class="clear"></div>
            </div>
          </article>
          <div class="clear"></div>
        {{ end }}        
        {{ partial "pagination.html" . }}

            </div>
        </div>
    </div>
</div>
{{ end }}